*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: -20px;
    
}
nav{
    flex: 1;
    text-align: right;
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 60px;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins' , sans-serif;
    overflow-x: hidden;
}
p{
    color: rgb(106, 255, 0);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logo{
    margin-top: -40px;
    margin-bottom: -50px;
    
}
h1{
    color: #fff;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 54px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    
}
hr{
    border: 0;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
    margin: -50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: rgb(106, 255, 0);
    color: #000000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: red;
}

.header .row{
    margin-top: 70px;
}
img{
    margin-bottom: 60px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    box-shadow: 0 0 20px 0px rgba(106, 255, 0);
    flex-basis: 30%;
    min-width: 20px;
    margin-bottom: 40px;
    margin-top: -120px;
    
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-left: -20px;
    transition: transform 0.5s;
    
}
.col-4 img{
    width: 100%;
}
h4{
    color: #fff;
    margin-top: -50px;
    font-weight: normal;
}
i{
    color: yellow;
}
h2{
    color: #fff;
    margin-top: -60px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    
}
.title::after{
    content: '';
    background: rgb(106, 255, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4:hover{
    transform: translateY(-5px);
}
h3{
    color: #fff;
}
small{
    color: #fff;
}
.offer{
    margin-top: 80px;
    padding: 30px 0;
    background: #1A1A1A;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0px rgba(106, 255, 0);
}
.colu-3{
    flex-basis: 30%;
    min-width: 20px;
    margin-bottom: 40px;
    
}
.tanitim{
    padding-top: 100px;
}
.tanitim .colu-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(106, 255, 0);
    cursor: pointer;
    transition: transform 0.5s;
}
.tanitim .colu-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.tanitim .colu-3:hover{
    transform: translateY(-10px);
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    margin-top: -30px;
}
.markalar{
    margin: 100px auto;
}
.col-5{
    width: 180px;
    
}
.col-5 img:hover{
    filter: grayscale(0%);
    
}
.footer {
    background: #1A1A1A;
    color: rgba(106, 255, 0);
    font-size: 14px;
    margin: 5x 0 10px;
    width: 100%;
    box-shadow: 0 0 20px 0px rgba(106, 255, 0);
    padding-top: 0px;
    padding-bottom: 15px;
}

.footer p {
    color: rgba(106, 255, 0);
    margin-bottom: 10px;
}

h3 {
    color: #fff;
    margin-bottom: 15px; 
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 10px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
    margin-bottom: 20px; 
}

ul {
    list-style-type: none;
    padding-left: 0; 
}

ul li {
    margin-bottom: 5px;
}

.app-logo {
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.app-logo img {
    width: 140px;
    margin-bottom: 10px; 
    margin-right: 5px; 
}

.footer .container {
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.Copy {
    margin-top: 15px; 
    margin-bottom: 10px; 
    text-align: center; 
}